# ignore python and editors cache
__pycache__/
.pytest_cache/
*.egg-info
.vscode/
.idea

# ignore thirdy-party tool caches
.ruff_cache

# ignore command_line_assistant_history
command_line_assistant_history.json

# ignore venv
[.]venv/

# ignore test results
.coverage
htmlcov/

# ignore tests specifics
.tox
coverage*
junit.xml

# systemd
data/development/systemd/clad-user.service

# sphinx
docs/build/*
docs/source/_autosummary

# selinux stuff
data/release/selinux/clad.pp
data/release/selinux/clad.pp.bz2
data/release/selinux/clad.cil
data/release/selinux/tmp

# Tarball
*.tar.gz
