[Unit]
Description=Command Line Assistant Daemon Service
Documentation=https://github.com/rhel-lightspeed/command-line-assistant
After=network-online.service dbus.service
Requires=network-online.target

[Service]
Type=simple
PrivateTmp=yes
RemainAfterExit=no
ExecStart=/usr/sbin/clad
