policy_module(clad, 0.3.1)

########################################
#
# Declarations
#

type clad_t;
type clad_exec_t;
init_daemon_domain(clad_t, clad_exec_t)

domain_type(clad_t)
domain_entry_file(clad_t, clad_exec_t)
role system_r types clad_t;

type clad_etc_r_t;
files_config_file(clad_etc_r_t)

type clad_var_lib_rw_t;
files_type(clad_var_lib_rw_t)

########################################
#
# clad local policy
#

allow clad_t self:fifo_file rw_fifo_file_perms;

# Network access
allow clad_t self:unix_stream_socket create_stream_socket_perms;
allow clad_t self:tcp_socket create_stream_socket_perms;

# Network interfaces and nodes
corenet_tcp_sendrecv_generic_if(clad_t)
corenet_tcp_sendrecv_generic_node(clad_t)
corenet_tcp_bind_generic_node(clad_t)

# Allow outbound HTTP connections (including proxy)
corenet_tcp_connect_http_port(clad_t)
corenet_tcp_connect_http_cache_port(clad_t)
corenet_tcp_connect_squid_port(clad_t)

# Allow outbound HTTPS connections
corenet_tcp_connect_all_ports(clad_t)

# D-Bus permissions
dbus_system_bus_client(clad_t)
dbus_connect_system_bus(clad_t)
allow clad_t self:dbus send_msg;

# File access permissions
# Config directory
manage_dirs_pattern(clad_t, clad_etc_r_t, clad_etc_r_t)
manage_files_pattern(clad_t, clad_etc_r_t, clad_etc_r_t)
manage_lnk_files_pattern(clad_t, clad_etc_r_t, clad_etc_r_t)

# Var lib directory
manage_dirs_pattern(clad_t, clad_var_lib_rw_t, clad_var_lib_rw_t)
manage_files_pattern(clad_t, clad_var_lib_rw_t, clad_var_lib_rw_t)
files_var_lib_filetrans(clad_t, clad_var_lib_rw_t, { dir file })

# System access
auth_use_nsswitch(clad_t)
logging_send_syslog_msg(clad_t)
miscfiles_read_localization(clad_t)

# Allow reading system proxy settings
files_read_etc_files(clad_t)
auth_read_passwd(clad_t)

# Allow python execution
can_exec(clad_t, bin_t)
corecmd_exec_bin(clad_t)
domain_use_interactive_fds(clad_t)
