sphinx>=7.4.7
sphinx-autodoc-typehints>=2.3.0
sphinx-rtd-theme>=3.0.2
sphinx-argparse-cli>=1.17.0

# Only here becasue readthedocs can't build the docs properly without it.
# We don't want to introduce poetry and the other tooling in the CI.
dasbus
requests
PyGObject
sqlalchemy
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
