name: Unit tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream${{ matrix.centos-version }}
    strategy:
      matrix:
        include:
          - centos-version: '9'
            python-version: '3.9'
          - centos-version: '10'
            python-version: '3.12'

    steps:
      - name: Install Act dependencies
        if: ${{ env.ACT }}
        run: dnf install -y nodejs

      - name: Set up newer Node.js version
        if: ${{ env.ACT }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: '24'

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Enable CRB repository
        run: dnf config-manager --set-enabled crb

      - name: Install package dependencies
        run: dnf install -y make git gcc gpg pkgconfig gobject-introspection-devel cairo-devel cairo-gobject-devel glib2-devel

      - run: uv python install ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: uv sync --extra dev --extra docs

      - name: Run unit tests
        run: |
          make unit-test-coverage
          make coverage

      - name: Upload coverage reports to Codecov
        if: ${{ !env.ACT }}
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      # https://docs.codecov.com/docs/test-analytics
      - name: Upload test results to Codecov
        if: ${{ !cancelled() && !env.ACT }}
        uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
